@using Alabama.Models
@model Alabama.Models.ResetPasswordModel
@{
    ViewBag.Title = "Đặt lại mật khẩu";
}
<script type="text/javascript">
    $(document).ready(function () {
        $('input[name="NewPassword"]').focus();
    });
</script>
<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-title">
                <h3>
                    <i class="icon-table"></i>@ViewBag.Title</h3>
            </div>
            <div class="box-content">
                <!-- Yêu cầu VD:"password phải 6 kí tự, ..." -->
                <!-- noi dung -->
                @using (Html.BeginForm("ResetPassword", "Account"))
                {
                    
                    @Html.ValidationSummary(true, "Đổi mật khẩu thất bại. Vui lòng kiểm tra và thử lại.")
                    <div class="control-group">
                        <label for="UserName" class="control-label">
                            Tên đăng nhập <span class="f_req">*</span></label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.UserName, new { @readonly = "readonly" })
                            <span class="help-block">@Html.ValidationMessageFor(m => m.UserName)</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="NewPassword" class="control-label">
                            Mật khẩu mới <span class="f_req">*</span></label>
                        <div class="controls">
                            @Html.PasswordFor(m => m.NewPassword, new {  })
                            <span class="help-block">@Html.ValidationMessageFor(m => m.NewPassword)</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="NewPassword" class="control-label">
                            Nhắc lại mật khẩu <span class="f_req">*</span></label>
                        <div class="controls">
                            @Html.PasswordFor(m => m.ConfirmPassword, new {  })
                            <span class="help-block">@Html.ValidationMessageFor(m => m.ConfirmPassword)</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <input class="btn btn-info" type="submit" value="Đặt lại mật khẩu" />
                            <a class="btn" href="@Url.Action("Index", new { })">Quay lại</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
