@model Alabama.TongHopDetail
           <script type="text/javascript">
               $(document).ready(function () {
                   $('.timepicker-default').timepicker({
                       showSeconds: true,
                       showMeridian: false,
                       defaultTime: 'value'
                   });
               });
           </script>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        ×</button>
    <h3 id="myModalLabel1">
        Sửa tổng hợp chi tiết
    </h3>
</div>
@using (Html.BeginForm("EditDetail", "TongHopLichCongTac", new { url = ViewBag.Url }))
{
    <div class="modal-body Content-EditDetail" id="Content-EditDetail">
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.TongHopID)
        @Html.HiddenFor(model => model.Code)
        <div class="editor-label">
            @Html.LabelFor(model => model.NoiDung)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NoiDung)
            @Html.ValidationMessageFor(model => model.NoiDung)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Time)
        </div>
        <div class="editor-field">
            <div class="input-append bootstrap-timepicker-component">
                <input class="timepicker-default input-small" type="text" value="@Model.Time" name="Time"/>
                <span class="add-on"><i class="icon-time"></i></span>
            </div>
            @Html.ValidationMessageFor(model => model.Time)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.NguoiThucHien)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NguoiThucHien)
            @Html.ValidationMessageFor(model => model.NguoiThucHien)
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit">
            Lưu lại</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">
            Hủy</button>
    </div>
}