@using Webdiyer.WebControls.Mvc
@model List<Alabama.TongHopDetail>
@{
               
    var lstNguoiTruc = Alabama.DB.Entities.NguoiTruc.ToList();
    var listTongHop = (List<Alabama.TongHop>)ViewBag.ListTongHop;
}
<script type="text/javascript">
    $(document).ready(function () {
        $('.StartDate').datepicker({ language: "vi", format: "dd/mm/yyyy" }).on('changeDate', function (ev) {
            var curr = new Date(convertDateTimeVItoEN($(this).val()));
            var first = curr.getDate() - curr.getDay(); // First day is the day of the month - the day of the week
            var res;
            if (first + 1 != curr.getDate()) {
                res = '';
                $(".TongHop").hide();
                return false;
            } else {
                var last = first + 7; // last day is the first day + 6

                var firstday = new Date(curr.setDate(first));

                var lastday = new Date(curr.setDate(last));
                res = lastday.getDate() + '/' + (lastday.getMonth() + 1) + '/' + lastday.getFullYear();
                $(".TongHop").show();
                $('.EndDate').val(res);
                return true;
            }
        });
        $(".TongHop").click(function () {
            var start = $(".StartDate").val();
            var end = $(".EndDate").val();
            var url = $(this).attr('href');
            var newUrl = addParam(addParam(url, "fromDate", start), "endDate", end);
            $(this).attr('href', newUrl);
        });
        $(".EditDetail").click(function () {
            var id = $(this).attr('value');
            $.ajax({
                url: "/TongHopLichCongTac/EditDetail",
                type: "GET",
                data: { "id": id, "url": "@Request.RawUrl" },
                success: function (model) {
                    $("#Modal-EditDetail").html(model);
                }
            });
        });
        $(".ChangeNguoiTruc").change(function () {
            var idNguoiTruc = $(this).val();
            var id = $(this).attr('TongHopID');
            var url = "@Request.RawUrl";
            $.ajax({
                type: "GET",
                url: "/TongHopLichCongTac/ChangeNguoiTruc",
                data: { "id": id, "idNguoiTruc": idNguoiTruc },
                success: function (value) {
                    if (value == "True") {
                        location.href = url;
                    }
                }
            });
        });

        // sửa tiêu đề
        $(".TieuDe").hover(function () {
            $(".TieuDeEdit").show();
        }, function () {
            $(".TieuDeEdit").hide();
        });
        $(".TieuDeEdit").click(function () {
            var id = $(this).attr('value');
            $.ajax({
                url: "/TongHopLichCongTac/EditTieuDe",
                type: "GET",
                data: { "id": id, "url": "@Request.RawUrl" },
                success: function (model) {
                    $("#Modal-EditDetail").html(model);
                }
            });
        });

    });
</script>
<h3>
    Tổng hợp lịch công tác</h3>
<div class="row-fluid">
    <div class="row-fluid">
        <div class="span12">
            @Html.ActionLink("Tổng hợp", "NewOrEdit", null, new { @class = "btn btn-info TongHop hide" })
            @if (Model.Count > 0)
            {
                <a href="/TongHopLichCongTac/Test?StartDate=@Request.QueryString["fromDate"]" target="_blank" class="btn btn-info">
                    Xuất file</a>
            }
        </div>
    </div>
    <div class="row-fluid">
        <div class="span4">
            <label>
                Ngày bắt đầu</label>
            <input type="text" name="name" value="@Request.QueryString["fromDate"]" class="StartDate" />
        </div>
        <div class="span4">
            <label>
                Ngày cuối tuần</label>
            <input type="text" name="name" value="@Request.QueryString["EndDate"]" class="EndDate" readonly="readonly" />
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12" style="text-align: center;">
            @if (listTongHop != null && listTongHop.Count > 0)
            {
                <h3 class="TieuDe">@(Html.Raw(listTongHop[0].TieuDe.Title.Replace("\n", "<br />")))
                    <br />
                    <a href="#Modal-EditDetail" role="button" class="btn btn-info hide TieuDeEdit" value="@listTongHop[0].TieuDeID" data-toggle="modal">
                        Sửa tiêu đề</a>
                </h3>
            }
        </div>
    </div>
    <table class="table table-bordered">
        <tr>
            <th style="width: 6%">
            </th>
            <th style="width: 3%">
                Thời gian
            </th>
            <th>
                Nội dung
            </th>
            <th>
                Người thực hiện
            </th>
            <th style="width: 15%">
                Địa điểm
            </th>
            <th style="width: 15%">
                Trực lãnh đạo
            </th>
            <th>
            </th>
        </tr>
        @if (Model != null && Model.Count > 0)
        {
            foreach (var item in listTongHop)
            {
                var list = Model.Where(m => m.TongHopID == item.ID).ToList();
               
            <tr>
                @if (item.DayOfWeek == 6)
                {
                    if (list.Count > 0)
                    {
                    <td rowspan="@(list.Count + 1)">
                        CN
                    </td>
                    }
                    else
                    {
                    <td rowspan="1">
                        CN
                    </td>
                    }

                }
                else
                {
                    if (list.Count > 0)
                    {
                    <td rowspan="@(list.Count + 1)">
                        Thứ @(item.DayOfWeek + 2)
                    </td>
                    }
                    else
                    {
                    <td rowspan="1">
                        Thứ @(item.DayOfWeek + 2)
                    </td>
                    }

                }
                <td colspan="4">
                </td>
                <td style="border-left: none;">
                    <select class="ChangeNguoiTruc span12" TongHopID="@item.ID">
                        <option value="0">--</option>
                        @foreach (var item12 in lstNguoiTruc)
                        {
                            var selected = "";
                            if (item12.ID == item.NguoiTrucID)
                            {
                                selected = "selected='selected'";
                            }
                            <option value="@item12.ID" @selected>@item12.Title</option>
                        }
                    </select>
                </td>
                <td style="border-left: none;">
                </td>
            </tr>
            
                        foreach (var item1 in list)
                        {
            <tr>
                <td>
                    @item1.Time.Hours:@item1.Time.Minutes
                </td>
                <td>
                    @item1.NoiDung
                </td>
                <td>
                    @item1.NguoiThucHien
                </td>
                <td>
                    @(item1.Location)
                </td>
                <td>
                    @(item.NguoiTruc != null ? item.NguoiTruc.Title : "")
                </td>
                <td style="width: 3%">
                    <a href="#Modal-EditDetail" role="button" class="EditDetail" value="@item1.ID" data-toggle="modal">
                        Sửa</a><br />
                    <a href="/TongHopLichCongTac/DeleteDetail/@item1.ID" class="confirmDelete error">Xóa</a>
                </td>
            </tr>
                                                                                      
                        }

            }
        }
    </table>
</div>
@*<div id="Modal-EditDetail" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1"
    aria-hidden="true">
</div>*@
<div id="Modal-EditDetail" class="modal hide fade">
</div>
